<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="templates/icons/favicon.ico"/>
    <div th:replace="fragments/header :: header-css"/>
    <title>CODESOLVER</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class='img'></div>
    <div class="usersList">
        <h2 class="usersList">All users</h2>

        <table th:each="user:${users}">
            <tr class="usersList">
                <td class="usersList" style="margin: 20px; background-color: transparent;">
                    <a th:if="${user.isActive()} == true">
                        <span class="glyphicon glyphicon-user" style="color:green" title="Active"></span>
                    </a>
                    <a th:if="${user.isActive()} == false">
                        <span class="glyphicon glyphicon-user" style="color:darkred" title="Inactive"></span>
                    </a>
                    <a class="usersList" th:text="' ' + ${user.getUsername()} + ' '"
                       th:href="'/userAccount?username='+ ${user.getUsername()} "></a>
                </td>
                <td>
                    <span style="font-size: 20px; width: 50px; margin: 2px"
                          th:if="${user.getRole()} == 'ROLE_ADMIN'">Administrator </span>
                    <span style="font-size: 20px; width: 50px; margin: 2px"
                          th:if="${user.getRole()} == 'ROLE_USER'">User </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="usersList">
        <form th:action="@{/adminRegistration}" th:object="${newUser}" method="post">
            <h2 class="usersList">Add new user</h2>

            <table class="usersList">
                <tr class="usersList">
                    <td class="usersListEdit">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" style="height: 40px; width: 96%; "/>
                    </td>
                    <td class="usersListEdit">
                        <input id="password"
                               class="form-control"
                               name="password"
                               type="password"
                               width="20"
                               style="height: 40px;"
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"
                               placeholder="Password"/>
                    </td>

                </tr>
                <tr>
                    <td class="usersList"></td>
                    <td class="usersListNew">
                        <input type="submit"
                               name="login-submit"
                               id="login-submit"
                               class="btn btn-lg btn-primary btn-block"
                               style="background-color: #de411b; border: #de411b; "
                               value="Add new user"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>